<form [formGroup]="curriculoForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input matInput formControlName="telefone" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Experiência</mat-label>
    <textarea matInput formControlName="experiencia" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Formação</mat-label>
    <input matInput formControlName="formacao" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Habilidades</mat-label>
    <input matInput formControlName="habilidades" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="curriculoForm.invalid">
    Salvar
  </button>
</form>
