<h2>Cadastrar Vagas</h2>
<form action="">
  <label for="">ID</label>
  <input type="text" name="id" [(ngModel)]="vaga.id"> <br>

  <label for="">Nome</label>
  <input type="text" name="nome" [(ngModel)]="vaga.nome"> <br>

  <label for="">Descrição</label>
  <input type="text" name="descricao" [(ngModel)]="vaga.descricao"> <br>

  <label for="">Salário</label>
  <input type="text" name="salario" [(ngModel)]="vaga.salario"> <br>

  <button type="button" (click)="cadastrarVaga()">Cadastrar Vaga</button>
  <button type="button" (click)="atualizarVaga(vaga.id)">Atualizar Vaga</button>
  <button type="button" (click)="excluirVaga(vaga.id)">Exercluir Vaga</button>


</form>


<!--Tabela com as vagas já cadastradas -->
<section class="listar-vagas">
  <table class="table">
    <thead>
      <tr>
        <th>Código da Vaga</th>
        <th>Vaga</th>
        <th>Descrição da Vaga</th>
        <th>Salário</th>
      </tr>
    </thead>
    <tbody>
      <tr class="vaga-row" *ngFor="let v of vagas">
        <td>{{v.id}}</td>
        <td>{{v.nome}}</td>
        <td>{{v.descricao}}</td>
        <td>R$ {{v.salario}},00</td>
        <td>
          <button class="btn-listar" type="button" (click)="listarVgaPorid(v)">
            Listar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="rodape">

</div>
